.wrap ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 20px 20px;
}

.wrap {
  display: flex;
  max-width: 500px;
  margin-right: 20px;
  margin: 0 auto;
}

.wrap li {
  cursor: pointer;
  list-style-type: none;
}

.active {
  border-bottom: 2px solid black;
}
.wrap li a {
  outline: none;
}
